<h1>Witaj</h1>
<img style="display: block;margin-left: auto; margin-right: auto;" src="~/Imgs/ind.jpg" />
<hr />
<p style=" font-family:Helvetica, Arial, sans-serif;font-size: 20px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 23.8px;">
    Aplikacja pozwala na sprawdzenie swojego profilu osobowości politycznej, o której dowiesz się po odpowiedzeniu na serię naszych pytań z zakresu ekonomii, socjologii oraz pytań o Twoje odczucia względem jakiegoś tematu. Test jest krótki, a odpowiedź jest udzielana poprzez wybranie jej z listy rozwijanej. Nalegamy, aby unikać odpowiedzi "Nie wiem", ponieważ utrudni to Twoje sprofilowanie.
</p>
<p style=" font-family:Helvetica, Arial, sans-serif;font-size: 18px; font-style: normal; font-variant: normal;line-height: 23.8px;">
   Autorzy: Krzysztof Ptak, Olaf Nowicki.
</p>
<a class="btn btn-primary btn-lg btn-block" asp-action="Questions" role="button">Podejmij test!</a>
